.league-wrapper {
    .heading {
        font-family: 'Bebas Neue', cursive;
        padding: 20px 0;

    }
    .content-wrapper {
        display: flex;
        margin: 10px;
        .table-dark.table-bordered {
            width: 50% !important;
            .team-logo {
                height: 20px !important;
                width: 20px !important;
            }
        }
    }
}