
//Carousel Styling starts
.carousel-caption {
    position: absolute;
    top: 15% !important;
    right: 20% !important;
    left: 10% !important;
    padding-top: 0 !important; 
    padding-bottom: 0 !important; 
    text-align: left !important;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: -0.8px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    font-family: 'Bebas Neue', cursive;

   
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
//Carousel tyling ends



//Spinner styling start

.loader,
.loader:before,
.loader:after {
  background: #3c013d;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #3c013d;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  top: 200px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


//Spinner styling ends

.premier-league-wrapper {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    .premier-league-heading {
        width: 20%;

    }
    .premier-league-teams {
        display: flex;
        .team-image {
            flex: 1;
            margin-right: 20px;
        }
    }
}

.featured-stories-wrapper {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .premier-league-featured, .laliga-league-featured, .seria-league-featured, .league1-league-featured {
        width: 50%;

        .scores {
            color: black;
        }
    }
}